@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Add customization here
$fullhd-enabled: false;
$widescreen-enabled: false;
$section-padding: 3em 2em;
$primary: rgb(14, 45, 77);
$info: rgb(232, 75, 13);
$link: rgb(232, 75, 13);
$tablet: 768px; // include ipad

$navbar-burger-color: $info;

@import '~bulma';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(45, 59, 255, 0.302);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(191, 18, 253, 0.5);
}
.navbar{
  background-color: #ffd900;
  margin-bottom: 30px;
  font-weight: 700;
}
.navbar a {
  text-transform: uppercase;
  font-weight: bold;
  color: #5a5a5a;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-burger {
  span {
    height: 5px;
    background-color: #6a67ce;
  }
}
body{
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}
h1,
h2,
h3,
h4,
label {
  font-weight: 900;
}
.bio-author {
  font-size: 14px;
  text-transform: uppercase;
  color: #292929;
  font-weight: bold;
}
